.switch {
  position: relative;
  display: inline-block;
  width: 2.5em;
  height: 1.5em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-color);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 1em;
  width: 1em;
  left: 4px;
  bottom: 4px;
  background-color: var(--primary-color);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--primary-color-darker);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .slider:before {
  transform: translateX(1em);
}

.slider.round {
  border-radius: 1em;
}

.slider.round:before {
  border-radius: 50%;
}
