<template>
  <Modal :disabled="!isShow" :close="closeModal">
    <div class="modal">
      <p>{{ $t('import') }}</p>
      <div class="ref" v-for="(refSelected, baseIndex) in refsSelected" :key="baseIndex">
        <div
          class="ref-icon"
          @click="refSelected.showSelector = !refSelected.showSelector"
          :style="'background-image:url(' + refSelected.ref.icon + ')'"
          v-tooltip.top-center="showRefName(refSelected.ref.name)"
        >
          <animslide v-if="refSelected.showSelector">
            <div class="ch-ref">
              <div
                v-for="(ref, index) in refs"
                :key="index"
                :style="'background-image:url(' + ref.icon + ')'"
                class="ref-select ref-icon"
                @click.self.stop="changeRef(refSelected, index)"
                v-tooltip.top-center="showRefName(ref.name)"
              ></div>
            </div>
          </animslide>
        </div>
        <input
          v-if="refSelected.ref.name != localRef.name"
          type="text"
          :placeholder="$t('ref.code')"
          v-model="refSelected.code"
        />
        <select v-else v-model="refSelected.code">
          <option :value="null" selected>-- {{ $t('card.chose') }} --</option>
          <option v-for="card in localCards" :key="card" :value="card">{{ card }}</option>
        </select>
        <input type="number" :placeholder="$t('ref.iteration')" v-model="refSelected.iteration" />
        <span class="icon">
          <font-awesome-icon icon="times" :title="$t('ref.remove')" @click="removeRef(baseIndex)" />
        </span>
      </div>
      <button @click="importRefs()">{{ $t('ref.import') }}</button>
      <button @click="addNewRef(nullRef)">{{ $t('ref.add') }}</button>
      <button @click="closeModal">{{ $t('ignore') }}</button>
    </div>
  </Modal>
</template>
<script setup>
import { refs as re } from '../assets/js/RefsData.js'
import animslide from './Animslide.vue'
import { allSeparators, defaultValues, typeExpectedShort } from '../assets/js/Parse.js'
import { getCardsAvailable } from '../assets/js/Card.js'
import { computed, onMounted, ref } from 'vue'
import { useI18n } from 'vue-i18n'

const props = defineProps(['showing'])
const { t } = useI18n()

const refsData = ref(re)
const isShow = ref(props.showing)

const refsSelected = ref([])
const refs = ref([])
const nullRef = ref(null)
const localRef = ref(null)

const importRefs = () => {
  let location = '?'
  refsSelected.value.forEach((ref) => {
    let iteration = parseInt(ref.iteration)
    if (ref.code != null && ref.code.length > 0) {
      location += location.length != 1 ? allSeparators.separator : ''
      if (ref.ref.name in refsData.value)
        location +=
          typeExpectedShort.distant +
          allSeparators.type +
          ref.ref.name +
          allSeparators.type +
          ref.code
      else if (ref.ref.name == localRef.value.name)
        location += typeExpectedShort.local + allSeparators.type + ref.code
      location += iteration > defaultValues.quantity ? allSeparators.quantity + iteration : ''
    }
  })
  if (location != '') window.location = location
}

const showRefName = (name) => name[0].toUpperCase() + name.slice(1, name.length)

const changeRef = (selectedRef, indexOfRef) => {
  selectedRef.ref = {
    icon: refs.value[indexOfRef].icon,
    name: refs.value[indexOfRef].name,
  }
  selectedRef.showSelector = false
}

const addNewRef = (ref) => {
  refsSelected.value.push({
    ref: {
      icon: ref.icon,
      name: ref.name,
    },
    code: null,
    iteration: null,
    showSelector: false,
  })
}

const removeRef = (refIndex) => {
  refsSelected.value[refIndex] = null
  refsSelected.value = refsSelected.value.filter((ref) => ref != null)
  if (refsSelected.value.length == 0) isShow.value = false
}

const closeModal = computed(() => () => (isShow.value = false))

const localCards = computed(() => getCardsAvailable())

onMounted(() => {
  nullRef.value = {
    icon: './assets/img/default.png',
    name: t('select.provider'),
  }
  localRef.value = {
    icon: './assets/img/local.png',
    name: t('local'),
  }
  for (let key in refsData.value)
    refs.value.push({
      icon: refsData.value[key].icon,
      name: key,
    })
  if (localCards.value.length > 0) refs.value.push(localRef.value)
  addNewRef(nullRef.value)
})
</script>
<style lang="scss" scoped>
.ref {
  > * {
    display: inline-block;
    padding: 0.5em;
  }
  input {
    width: 15em;
  }
  .ref-icon {
    width: 50px;
    height: 50px;
    background-size: 50px;
    margin: 5px;
  }
  .ch-ref {
    position: relative;
    top: 25px;
    right: 25px;
    * {
      display: inline-block;
      padding: 0.5em;
    }
  }
}
</style>
