<template>
  <div class="item-img flex-box" :style="'background-image:url(\'' + asset + '\')'">
    <p v-if="c.job !== 0 && c.upgrade">
      <span class="icon icon-only">
        <font-awesome-icon icon="arrow-up" />
      </span>
    </p>
    <p v-if="c.job !== 0 && c.nb > 1">x{{ c.nb }}</p>
  </div>
</template>
<script setup>
import { computed, ref } from 'vue'

const props = defineProps(['cBase'])

const c = ref(props.cBase)
const asset = computed(() =>
  !('' + c.value.img).startsWith('http')
    ? 'https://vertylo.github.io/wakassets/items/' + c.value.img + '.png'
    : c.value.img,
)
</script>

<style scoped>
.item-img {
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 35px;
  height: 35px;
}

.item-img p,
.item-img i {
  position: relative;
  font-size: 0.7rem;
  top: -3px;
  left: -5px;
}
</style>
