<template>
  <div :class="child === 3 && c.get ? 'getIt' : ''">
    <div
      class="flex-box card"
      :class="(child === 1 || child === 3) && isCraft() ? 'card-recipe' : ''"
    >
      <div class="flex-box">
        <a v-if="c.craftData != null" :href="c.craftData.link" target="_blank">
          <CardIcon :cBase="c" />
        </a>
        <CardIcon v-else :cBase="c" />
        <div class="flex-col info">
          <div class="base-flex-box primary">
            <img
              :title="$t('rarity.' + c.rarity)"
              :src="'./assets/img/rarity/' + c.rarity + '.png'"
            />
            {{ c.name[lang] }}
            <template v-if="child === 3 || child === 2">x{{ c.qt }}</template>
          </div>
          <span v-if="isCraft()" class="secondary">
            {{ $t('lvl') }} {{ c.lvl }} - {{ $t('job.' + c.job) }} - {{ c.xp }} XP
          </span>
          <span v-if="child === 2 && !isCraft()" class="secondary">
            {{ $t('type.' + c.type) }}
          </span>
        </div>
      </div>
      <div class="right">
        <span
          class="icon"
          v-if="(child === 1 || child === 3) && isCraft() && c.ingredients.length > 1"
        >
          <font-awesome-icon icon="swatchbook" :title="$t('switch')" @click="c.switchRecipe()" />
        </span>
        <input
          v-if="child === 1"
          type="number"
          v-model="val"
          min="1"
          max="999"
          @value="this.val"
          @change="checkQt(c)"
        />
        <a v-if="child === 2" :href="$t('encyclopedia.link', [c.id])" target="_blank">
          <span class="icon">
            <font-awesome-icon icon="link" />
          </span>
        </a>
        <span class="icon" v-if="child === 3">
          <font-awesome-icon
            :icon="
              !c.get
                ? isCraft()
                  ? 'thumbs-down'
                  : 'check-circle'
                : isCraft()
                  ? 'thumbs-up'
                  : 'times-circle'
            "
            :title="$t(isCraft() ? 'recipe.show' : 'craft.check')"
            @click="c.toggleGet()"
          />
        </span>
        <span class="icon" v-if="child === 3 && isCraft(true) && hasIngredient">
          <font-awesome-icon
            icon="exchange-alt"
            :title="$t('craft.component')"
            @click="c.toggleConsiderAsIngredient()"
          />
        </span>
        <span class="icon" v-if="child === 2">
          <font-awesome-icon
            icon="check-circle"
            :title="$t('craft.check')"
            @click="store.dataStorage.removeIngredient(c)"
          />
        </span>
        <span
          class="icon"
          v-if="child === 1 && hasIngredient"
          :style="!show ? 'transform:rotate(0.75turn)' : ''"
        >
          <font-awesome-icon
            icon="chevron-circle-down"
            :title="$t('recipe.show')"
            @click="show = !show"
          />
        </span>
        <span class="icon" v-if="child === 1">
          <font-awesome-icon
            icon="times-circle"
            :title="$t('recipe.remove', [c.name[lang]])"
            @click="store.dataStorage.list.remove(c)"
          />
        </span>
        <span class="icon" v-if="child === 0">
          <font-awesome-icon
            icon="cart-arrow-down"
            :title="$t('craft.add', [c.name[lang]])"
            @click="store.dataStorage.list.add(c)"
          />
        </span>
      </div>
    </div>
    <template v-if="isCraft()">
      <animslide>
        <div v-if="(child === 1 && show === true) || (child === 3 && !c.get)" class="card-little">
          <card
            :cBase="cr"
            :child="3"
            v-for="cr in c.ingredients[c.recipeSelected]"
            :key="cr.id"
          ></card>
        </div>
      </animslide>
    </template>
  </div>
</template>

<script setup>
import { store as st } from '../assets/js/Store.js'
import animslide from './Animslide.vue'
import CardIcon from './CardIcon.vue'
import { Craft } from '../assets/js/Craft.js'
import { Ingredient } from '../assets/js/Ingredient.js'
import useLocale from '../composition/useLocale.js'
import { computed, ref } from 'vue'

const { lang } = useLocale()
const store = ref(st)

const props = defineProps(['cBase', 'child', 'showBase'])

const val = ref(props.cBase.qt)
const c = ref(props.cBase)
const show = ref(props.showBase)

const hasIngredient = computed(
  () => c.value instanceof Craft && c.value.ingredients[c.value.recipeSelected].length > 0,
)

const checkQt = (cr) => {
  if (val.value <= 0 || val.value > 999 || val.value === '') val.value = 1
  cr.changeQt(val.value)
}

const isCraft = (ignoreIfCraftAreConsideredLikeComponent) => {
  if (c.value instanceof Craft) {
    return ignoreIfCraftAreConsideredLikeComponent || c.value.isCraft()
  } else if (c.value instanceof Ingredient) {
    return c.value.isCraft()
    // For json data witout any transformation
  } else {
    return c.value.job !== 0
  }
}
</script>

<style lang="scss" scoped>
.card {
  background: var(--background-color);
  margin-top: 5px;
  border-radius: 5px;
  padding: 3px 10px 3px 5px;
}

.card-recipe {
  background: var(--primary-color-lighter);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.card-recipe i:hover {
  color: rgb(0, 0, 0);
}

.info {
  margin-left: 8px;
}

.primary {
  justify-content: flex-start;
  line-height: 1.5rem;
}

.primary img {
  width: 0.9rem;
  margin-right: 5px;
}

.secondary {
  font-size: 0.9rem;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.right input {
  margin-right: 5px;
  margin-left: 10px;
  width: 55px;
  height: 30px;
}

.right input:focus,
.right a:focus {
  border: none;
  outline: none;
}

.card-little {
  border-left: var(--primary-color-lighter) 2px solid;
  padding-left: 7px;
  padding-top: 5px;
  margin-top: -5px;
}

.card-little .card {
  padding: 0px 0;
  padding-right: 10px;
}

.card-little .item-img {
  width: 27px;
  height: 27px;
}

.card-little,
.card-little .secondary {
  font-size: 0.85rem;
  line-height: 1rem;
}

.card-little img {
  width: 0.8rem;
}

.getIt {
  filter: grayscale(100%);
}
</style>
