<template>
  <section>
    <div class="section-head">
      <h2>{{ $t('search') }}</h2>
    </div>
    <div class="section-body" id="search-section-content">
      <div class="flex-box">
        <a
          href=""
          class="jobs flex-box"
          :class="select ? 'jobs-select' : ''"
          @click.prevent.stop="select = !select"
        >
          <p>{{ $t('job.' + job) }}</p>
          <div class="unclick" v-if="select" @click.self.prevent.stop="select = !select"></div>
          <animslide>
            <div class="jobs-options flex-col" v-if="select">
              <a
                class="options flex-box"
                href=""
                v-for="j in jobs.filter((x) => x !== job)"
                :key="j"
                @click.prevent.stop="changeJob(j)"
              >
                {{ $t('job.' + j) }}
              </a>
            </div>
          </animslide>
        </a>
        <div class="flex-box lvl">
          <input type="number" v-model="minLvl" :min="MIN_LVL" :max="maxLvl" @change="checkLvl()" />
          <input type="number" v-model="maxLvl" :min="minLvl" :max="MAX_LVL" @change="checkLvl()" />
        </div>
      </div>
      <input :placeholder="$t('search') + '...'" type="text" v-model="search" />
      <div class="flex-box">
        <p v-if="getResults.length === 0">
          {{ $t('result.none') }}
        </p>
        <p v-else>
          {{ getResults.length }}
          {{ $t('result', getResults.length) }}
        </p>
        <span class="icon" v-if="getResults.length !== 0">
          <font-awesome-icon
            :icon="asc ? 'arrow-circle-down' : 'arrow-circle-up'"
            :title="$t('sort')"
            @click="asc = !asc"
          />
        </span>
      </div>
      <card
        :cBase="c"
        :child="0"
        v-for="(c, index) in showResults"
        :data-index="index"
        :key="c.id"
      ></card>
    </div>
  </section>
</template>

<script setup>
import { store as st } from '../assets/js/Store.js'
import { data } from '../assets/js/Data.js'
import card from './Card.vue'
import animslide from './Animslide.vue'
import useLocale from '../composition/useLocale.js'
import { computed, onMounted, ref } from 'vue'

const MIN_LVL = 0
const MAX_LVL = 160

const jobs = [-1, 40, 64, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83]
const store = ref(st)
const { lang } = useLocale()

const minLvl = ref(MIN_LVL)
const maxLvl = ref(MAX_LVL)

const job = ref(-1)
const asc = ref(true)
const select = ref(false)
const search = ref('')
const pos = ref(20)

const defaultPos = () => {
  pos.value = 20
}

const getResults = computed(() => {
  defaultPos()
  if (search.value === '' && job.value === -1) return []
  const research = data.filter(
    (x) =>
      x.job !== 0 &&
      !store.value.dataStorage.list.crafts.find((z) => z.id === x.id) &&
      x.name[lang.value].toLowerCase().includes(search.value.toLowerCase()) &&
      (job.value === -1 ? true : job.value === x.job) &&
      x.lvl >= minLvl.value &&
      x.lvl <= maxLvl.value,
  )
  return research.sort((a, b) => (asc.value ? a.lvl - b.lvl : b.lvl - a.lvl))
})

const showResults = computed(() => getResults.value.slice(0, pos.value))

const changeJob = (id) => {
  job.value = id
  select.value = false
}

const checkLvl = () => {
  if (minLvl.value < MIN_LVL || minLvl.value > MAX_LVL || minLvl.value === '')
    minLvl.value = MIN_LVL
  else if (maxLvl.value < MIN_LVL || maxLvl.value > MAX_LVL || maxLvl.value === '')
    maxLvl.value = MAX_LVL
}

const scroll = () => {
  const scrollableSection = document.getElementById('search-section-content')
  scrollableSection.onscroll = () => {
    let currentPosition = scrollableSection.scrollTop + scrollableSection.offsetHeight
    let bottomOfSection = currentPosition === scrollableSection.scrollHeight
    if (bottomOfSection) {
      pos.value += 20
    }
  }
}

onMounted(() => scroll())
</script>

<style scoped>
.jobs,
input {
  font-family: 'PT Sans', sans-serif;
  height: 25px;
  border: 1px solid rgb(223, 226, 230);
  border-radius: 5px;
  font-size: 0.95rem;
  padding-left: 10px;
}

.jobs-options a:focus,
input:focus,
.jobs-select {
  border: 2px solid var(--primary-color-darker);
  padding-left: 9px;
}

.jobs,
.lvl {
  width: 49%;
}

.jobs {
  position: relative;
}

input[type='number'] {
  width: 48%;
  text-align: center;
}

input[type='text'] {
  width: 100%;
  margin: 15px 0;
}

.jobs-options {
  position: absolute;
  width: 100%;
  background: white;
  border: 2px solid var(--primary-color-darker);
  top: 21px;
  left: 0;
}
.unclick {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 0;
}

.options,
.options:focus,
.options:hover {
  z-index: 9999;
  height: 25px;
  padding-left: 6px;
}

.options:focus,
.options:hover {
  background: var(--primary-color-darker);
  color: white;
  padding-left: 6px;
}
</style>
