<template>
  <section>
    <div class="section-head">
      <h2>{{ $t('shop') }}</h2>
    </div>
    <div class="section-body">
      <div class="toolbar flex-box">
        <p>{{ $t('resource', [getQt], getQt) }}</p>
        <div v-if="store.dataStorage.list.crafts.length > 0">
          <a :href="dlCsv" target="_blank" :title="$t('export.csv')" download="shopping.csv">
            <span class="icon">
              <font-awesome-icon icon="file-excel" class="icon" />
            </span>
          </a>
          <a :href="dlTxt" target="_blank" :title="$t('export.txt')" download="shopping.txt">
            <span class="icon">
              <font-awesome-icon icon="file-alt" class="icon" />
            </span>
          </a>
          <span class="icon">
            <font-awesome-icon icon="copy" :title="$t('copy.link')" @click="copyLink()" />
          </span>
          <a :href="getLink" target="_blank" :title="$t('open.link')">
            <span class="icon">
              <font-awesome-icon icon="share" class="icon" />
            </span>
          </a>
          <span class="icon">
            <font-awesome-icon
              icon="save"
              :title="$t('save.local')"
              @click="showSaveDialog = true"
            />
          </span>
          <Modal :disabled="!showSaveDialog" :close="closeSaveDialog">
            <div class="modal">
              <p>{{ $t('save.card') }}</p>
              <div v-if="!cardSaved && !errorOccured">
                <input
                  type="text"
                  v-model="nameCard"
                  @input="checkNameCard()"
                  :placeholder="$t('card.placeholder')"
                />
                <p>
                  <label class="switch">
                    <input type="checkbox" v-model="autoSaveEnabled" />
                    <span class="slider round"></span>
                  </label>
                  <span>{{ $t('autosave.enabled') }}</span>
                </p>
                <p>
                  <a
                    v-if="nameIsValid && !nameAvailable && !warnUseless"
                    target="_blank"
                    :href="linkOfCard"
                    >{{ $t('replace.warn') }}</a
                  >
                </p>
                <p v-if="!nameIsValid">
                  <span v-if="nameCard.length == 0">{{ $t('name.required') }}</span>
                  <span v-else>{{ $t('name.no.sep', [listOfSeparators]) }}</span>
                </p>
                <button :disabled="!nameIsValid" @click="saveCard()">
                  {{
                    $t(
                      nameIsValid
                        ? nameAvailable || warnUseless
                          ? 'save'
                          : 'replace'
                        : 'name.invalid',
                    )
                  }}
                </button>
                <button @click="closeSaveDialog()">{{ $t('cancel') }}</button>
              </div>
              <div v-else>
                <p v-if="cardSaved && !errorOccured">
                  {{ $t('save.card.link') + $t('sep')
                  }}<a target="_blank" :href="cardShortLink">{{ cardShortLink }}</a>
                </p>
                <p v-else>{{ $t('save.failed') }}</p>
                <button @click="closeSaveDialog()">{{ $t('close') }}</button>
              </div>
            </div>
          </Modal>
        </div>
      </div>
      <card :cBase="i" :child="2" v-for="i in getIng" :key="i.id + '-' + i.qt"></card>
    </div>
  </section>
</template>

<script setup>
import { store as st } from '../assets/js/Store.js'
import card from './Card.vue'
import { getArgOfCard, getCardsAvailable } from '../assets/js/Card.js'
import { argsForArrayOfSimpleCraft, containSeparator, allSeparators } from '../assets/js/Parse.js'
import { computed, onMounted, ref } from 'vue'
import { useI18n } from 'vue-i18n'

const store = ref(st)
const { t } = useI18n()

const showSaveDialog = ref(false)
const nameCard = ref(null)
const nameAvailable = ref(false)
const cardSaved = ref(false)
const errorOccured = ref(false)
const autoSaveEnabled = ref(null)
const listOfSeparators = ref('')

const getIng = computed(() => {
  let arr = []
  store.value.dataStorage.list.crafts.forEach((el) => {
    el.getMats(arr)
  })
  return arr.sort(function (a, b) {
    return a.type - b.type
  })
})

const getQt = computed(() => {
  let allQt = 0
  getIng.value.forEach((el) => {
    allQt += el.qt
  })
  return allQt
})

const dlTxt = computed(() => {
  let stringify = ''
  getIng.value.forEach((el) => {
    stringify += el.getLocalisedString(store.value) + '\n'
  })
  stringify += '\n\n'
  store.value.dataStorage.list.crafts.forEach((el) => {
    stringify += el.getStep(store.value) + '\n'
  })
  let data = new Blob([stringify], { type: 'text/plain' })
  return window.URL.createObjectURL(data)
})

const dlCsv = computed(() => {
  let stringify = ''
  getIng.value.forEach((el) => {
    stringify +=
      store.value.getLocalisedString(el.name) + ',' + el.qt + ',' + t('rarity.' + el.rarity) + '\n'
  })
  stringify = '\uFEFF' + stringify
  let data = new Blob([stringify], { type: 'text/csv' })
  return window.URL.createObjectURL(data)
})

const getLink = computed(
  () => '?' + argsForArrayOfSimpleCraft(store.value.dataStorage.list.getAllSimpleCraft()),
)

const closeSaveDialog = computed(() => () => {
  showSaveDialog.value = false
  cardSaved.value = false
  errorOccured.value = false
})

const warnUseless = computed(
  () =>
    store.value.dataStorage.saveInstruction != null &&
    store.value.dataStorage.saveInstruction.name == nameCard.value,
)

const nameIsValid = computed(
  () => nameCard.value != null && nameCard.value.length != 0 && !containSeparator(nameCard.value),
)

const linkOfCard = computed(() => {
  const args = getArgOfCard(nameCard.value)
  return args != null ? '?' + args : ''
})

const cardShortLink = computed(() => '?local:' + nameCard.value)

const checkNameCard = () => {
  let available = true
  if (nameCard.value.length != 0)
    getCardsAvailable().forEach((cardName) => {
      if (available) available = cardName != nameCard.value
    })
  nameAvailable.value = available
}

const saveCard = () => {
  errorOccured.value = store.value.dataStorage.list.save(nameCard.value) != null
  store.value.dataStorage.disableAutoSave()
  if (!errorOccured.value) {
    cardSaved.value = true
    if (autoSaveEnabled.value) store.value.dataStorage.enableAutoSave(nameCard.value)
    else store.value.dataStorage.disableAutoSave(nameCard.value)
  }
}

const copyLink = async () => {
  let originalDocument = window.location.toString()
  if (window.location.search != null) {
    originalDocument = originalDocument.substring(
      0,
      originalDocument.length - window.location.search.length,
    )
  }
  let link = originalDocument + getLink.value
  await navigator.clipboard.writeText(link)
}

onMounted(() => {
  nameCard.value =
    store.value.dataStorage.saveInstruction != null
      ? store.value.dataStorage.saveInstruction.name
      : ''
  autoSaveEnabled.value =
    store.value.dataStorage.saveInstruction != null
      ? store.value.dataStorage.saveInstruction.autoSave
      : false
  Object.values(allSeparators).forEach((value) => (listOfSeparators.value += " '" + value + "'"))
})
</script>
