<template>
  <section>
    <div class="section-head">
      <h2>{{ $t('recipe.list') }}</h2>
    </div>
    <div class="section-body">
      <div class="toolbar flex-box">
        <p>
          {{
            $t(
              'recipe.count',
              [store.dataStorage.list.crafts.length],
              store.dataStorage.list.crafts.length,
            )
          }}
        </p>
        <div>
          <span
            class="icon"
            v-if="store.dataStorage.refs.length > 0 && store.dataStorage.list.crafts.length > 0"
          >
            <font-awesome-icon
              :icon="store.dataStorage.compressRefs ? 'expand-arrows-alt' : 'compress-arrows-alt'"
              :title="$t(store.dataStorage.compressRefs ? 'ref.expand' : 'ref.compress')"
              @click="reverseCompression()"
            />
          </span>
          <span class="icon" v-if="store.dataStorage.list.crafts.length > 0">
            <font-awesome-icon
              :icon="show ? 'chevron-up' : 'chevron-down'"
              :title="$t(show ? 'slide.up' : 'slide.down')"
              @click="show = !show"
            />
          </span>
          <span class="icon" v-if="store.dataStorage.list.crafts.length > 0">
            <font-awesome-icon
              icon="eraser"
              :title="$t('erase')"
              @click="store.dataStorage.list.clear()"
            />
          </span>
          <span class="icon" v-if="store.argsProvided">
            <font-awesome-icon icon="sync" :title="$t('reload')" @click="reloadAll()" />
          </span>
        </div>
      </div>
      <card
        :cBase="c"
        :showBase="show"
        :child="1"
        v-for="c in store.dataStorage.list.crafts"
        :key="c.id + '-' + c.qt + '-' + show"
      ></card>
    </div>
  </section>
</template>

<script setup>
import { ref } from 'vue'
import { store as st } from '../assets/js/Store.js'
import card from './Card.vue'

const store = ref(st)
const show = ref(false)

const reloadAll = () => {
  store.value.fetchRecipes(window.location.search, true)
}

const reverseCompression = () => {
  store.value.dataStorage.compressRefs = !store.value.dataStorage.compressRefs
  store.value.dataStorage.processRefs()
}
</script>
